.b-cat {
  margin: 100px auto;
  border: 1px solid #000;
  width: 450px;
  height: 390px;
  position: relative;
}
.b-cat:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../i/bem.png') 0 0 no-repeat;
  background-size: 100% auto;
  opacity: 0.4;
}
.b-cat * {
  position: absolute;
  background: #000;
  z-index: 2;
}
.b-cat__neck {
  width: 100px;
  height: 182px;
  top: 90px;
  left: 15px;
  border-radius: 40px 40px 0 100px;
}
.b-cat__head {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  left: 0;
  top: 10px;
}
.b-cat__body {
  width: 270px;
  height: 150px;
  border-radius: 50%;
  left: 0;
  top: 135px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.b-cat__arm {
  width: 30px;
  height: 112px;
  border-radius: 0 0 40px 40px;
  top: 228px;
}
.b-cat__arm_left {
  left: 45px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.b-cat__arm_right {
  left: 50px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.b-cat__leg {
  width: 130px;
  height: 30px;
  border-radius: 40px;
  top: 310px;
  left: 90px;
}
.b-cat__ear {
  width: 50px;
  height: 70px;
  border-radius: 10px;
  top: 5px;
}
.b-cat__ear_left {
  -webkit-transform: skew(30deg) rotate(30deg);
  transform: skew(30deg) rotate(30deg);
  left: 10px;
}
.b-cat__ear_right {
  -webkit-transform: skew(-30deg) rotate(-30deg);
  transform: skew(-30deg) rotate(-30deg);
  left: 60px;
}
.b-cat__butt {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  top: 190px;
  left: 108px;
}
.b-cat__tail {
  width: 200px;
  height: 60px;
  border-radius: 0 100px 0 100px;
  left: 215px;
  top: 315px;
}
.b-cat__eye {
  background: green!important;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 35px;
  border: 1px solid green;
}
.b-cat__eye_left {
  left: 30px;
}
.b-cat__eye_right {
  left: 72px;
}
.b-cat__eye:before {
  content: "";
  background: #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0;
  -webkit-transform: scale(0.3, 1);
  transform: scale(0.3, 1);
}

.cat {
  margin: 20px auto;
  width: 200px;
  transition: all 0.5s;
}
.cat:hover {
  -webkit-transform: scale(1.1) translateY(10px);
  transform: scale(1.1) translateY(10px);
}
.cat:hover .cat__oval,
.cat:hover .cat__body,
.cat:hover .cat__ears,
.cat:hover .cat__nose {
  opacity: 1;
}
.cat:hover .cat__mouth {
  opacity: 0.3;
}
.cat:hover .cat__eye {
  background: url('../i/5.gif');
  background-size: 50px 50px;
  background-position: 50% 50%;
}
.cat__head {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 2;
}
.cat__oval {
  display: block;
  width: 200px;
  height: 200px;
  background: url('../i/3.gif');
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transform: scale(1.1, 0.9);
  transform: scale(1.1, 0.9);
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background-size: 300px 300px;
  background-position: 50% 50%;
  opacity: 0;
  transition: all 0.5s;
}
.cat__nose {
  width: 20px;
  height: 20px;
  background: url('../i/4.gif') 50% 50%;
  background-size: 50px 50px;
  position: absolute;
  border-radius: 50%;
  top: 120px;
  left: 50%;
  margin-left: -10px;
  -webkit-perspective: 100px;
  perspective: 100px;
  box-sizing: border-box;
  -webkit-transform: scale(1, 0.7);
  transform: scale(1, 0.7);
  opacity: 0;
  transition: all 0.5s;
}
.cat__nose:before,
.cat__nose:after {
  content: '';
  background: #000;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 12px;
}
.cat__nose:before {
  left: 1px;
}
.cat__nose:after {
  right: 1px;
}
.cat__eye {
  width: 30px;
  height: 30px;
  background: #d5ba01;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.5);
  top: 70px;
}
.cat__eye_left {
  left: 50px;
}
.cat__eye_right {
  right: 50px;
}
.cat__eye:before {
  content: '';
  width: 10px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
}
.cat__eye:after {
  content: '';
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.cat__ears {
  position: absolute;
  width: 100%;
  top: -5px;
  height: 60px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.cat__ear {
  position: absolute;
  width: 80px;
  height: 80px;
  background: url('../i/3.gif');
  background-size: 300px 300px;
  background-position: 50% 50%;
  top: 9px;
  border-radius: 10px;
}
.cat__ear_left {
  left: 12px;
  -webkit-transform: skew(20deg) rotate(17deg);
  transform: skew(20deg) rotate(17deg);
}
.cat__ear_right {
  right: 12px;
  -webkit-transform: skew(-20deg) rotate(-17deg);
  transform: skew(-20deg) rotate(-17deg);
}
.cat__mouth {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 3px solid transparent;
  border-left-color: HotPink;
  border-top-color: HotPink;
  left: 50%;
  top: 150px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -6px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
}
.cat__body {
  position: relative;
  top: -30px;
  left: -25px;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 20px;
  fill: url(#img1);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.layout {
  background: #000;
  color: #fff;
  height: 100%;
  overflow: hidden;
}
.github-link {
  position: absolute;
  right: 30px;
  top: 30px;
}
.github-link a {
  color: #fff;
}
