doctype html
html
	head
		link(rel='stylesheet' href='css/common.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='js/cat.js')
	body
		include tmp/header
		include tmp/cat