doctype html
html
	head
		title Magic Cat
		link(rel='stylesheet' href='css/common.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='js/cat.js')
		link(rel="icon" type="image/png" href="favicon.png")
	body
		include tmp/header
		include tmp/cat