@import '../../base.less';
.cat {
	margin: 20px auto;
	width: 200px;
	transition: all 0.5s;
	&:hover {
		transform: scale(1.5) translateY(70px);
		.cat__oval, svg, .cat__ears, .cat__nose {
			opacity: 1;
		}
		.cat__mouth {
			opacity: 0.3;
		}
		.cat__eye {
			background: url('../i/5.gif');
			background-size: cover;
		}
	}
	&__head {
		display: block;
		width: 200px;
		height: 200px;
		position: relative;
		z-index: 2;
	}

	&__oval {
		display: block;
		width: 200px;
		height: 200px;
		background: url('../i/3.gif');
		position: absolute;
		top: 0;
		left: 0;
		.round();
		transform: scale(1.1, 0.9);
		box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2);
		background-size: cover;
		.hidden();
	}

	&__nose {
		width: 20px;
		height: 20px;
		background: url('../i/4.gif') 50% 50%;
		background-size: 50px 50px;
		position: absolute;
		border-radius: 50%;
		top: 120px;
		left: 50%;
		margin-left: -10px;
		perspective: 100px;
		box-sizing: border-box;
		transform: scale(1,0.7);
		.hidden();
		&:before, &:after {
			content: '';
			background: #000;
			position: absolute;
			width: 7px;
			height: 7px;
			.round();
			top: 12px;
		}
		&:before {
			left: 1px;
		}
		&:after {
			right: 1px;
		}
	}
	&__eye {
		width: 30px;
		height: 30px;
		background: #d5ba01;
		border-radius: 50%;
		position: absolute;
		border: 2px solid rgba(0,0,0,0.5);
		top: 70px;
		transition: all 0.5s;
		&_left {
			left: 50px;
		}
		&_right {
			right: 50px;
		}
		&:before {
			content: '';
			width: 10px;
			height: 20px;
			background: #000;
			border-radius: 50%;
			position: absolute;
			top: 5px;
			left: 10px;
		}
		&:after {
			content: '';
			width: 5px;
			height: 5px;
			background: #fff;
			border-radius: 50%;
			position: absolute;
			top: 10px;
			left: 10px;
		}
	}
	&__ears {
		position: absolute;
		width: 100%;
		top: -5px;
		height: 60px;
		overflow: hidden;
		.hidden();
	}
	&__ear {
		position: absolute;
		width: 80px;
		height: 80px;
		background: url('../i/3.gif');
		background-size: cover;
		top: 9px;
		border-radius: 10px;
		&_left {
			left: 12px;
			transform: skew(20deg) rotate(17deg);
		}
		&_right {
			right: 12px;
			transform: skew(-20deg) rotate(-17deg);
		}
	}
	&__mouth {
		position: absolute;
		width: 8px;
		height: 8px;
		border: 3px solid transparent;
		border-left-color: HotPink;
		border-top-color: HotPink;
		left: 50%;
		top: 150px;
		transform: rotate(45deg);
		margin-left: -6px;
		border-radius: 5px;
		.hidden();
	}
	svg {
		position: relative;
		top: -30px;
		left: -25px;
		.hidden();
		border-radius: 40px;
		polygon {
			fill: url(#img1);
		}
	}
}
.hidden() {
	opacity: 0;
	transition: all 0.5s;
}